.contact {
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
    height: 100vh;
    font-family: 'Dosis', sans-serif;
    color: #f2f3f4;
}
.contact1 {
    margin: 1%;
}
.contact2 {
    margin: 1%;
}
.contact3 {
    margin: 1%;
}  
.contact4 {
    margin: 1%;
}
.contact5 {
    margin: 1%;
}
.contact6 {
    margin: 1%;
}