.welcomeh1 {
    margin: 5%;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    color: #f2f3f4;
}

.welcomeTopImage {
display: flex;
justify-content: space-around;
margin-bottom: 5%;
}

.homeImage {
    width: 40%;
}

.welcomep {
    margin-bottom: 5%;
    font-size: 1.6em;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    color: #f2f3f4;
}

.welcomeIMG {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin: 30px; 
}

.image1 {
    width: 45%;
}

.image2 {
    width: 45%;
}

html body {
    background-color: #36454f;
}

@media screen and (max-width: 700px) {
    .welcomeIMG {
        flex-direction: column; 
    }
    
    .image1 {
        width: 100%;
    }
    
    .image2 {
        width: 100%;
        margin-top: 6%;
    }
    .welcomeTopImage {
        width: 100%;
    }
    
}
