.about {
    font-family: 'Dosis', sans-serif;
    color: #f2f3f4;
    margin: 5%;
    text-align: center;
    font-size: 1.9em;
}
.aboutH1 {
    font-family: 'Dosis', sans-serif;
    color: #f2f3f4;
    margin: 5%;
    text-align: center;
    font-size: 2.5em;
}